<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emojiName</key>
	<string> Women With Bunny Ears Partying</string>
	<key>emojiNameFromHref</key>
	<string>women-with-bunny-ears-partying</string>
	<key>emojiUniocode</key>
	<string>👯‍♀️</string>
</dict>
</plist>
