<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryCharacter</key>
	<dict>
		<key>🕺🏻</key>
		<dict>
			<key>emojiName</key>
			<string> Man Dancing: Light Skin Tone</string>
			<key>emojiUniocode</key>
			<string>🕺🏻</string>
		</dict>
		<key>🕺🏼</key>
		<dict>
			<key>emojiName</key>
			<string> Man Dancing: Medium-Light Skin Tone</string>
			<key>emojiUniocode</key>
			<string>🕺🏼</string>
		</dict>
		<key>🕺🏽</key>
		<dict>
			<key>emojiName</key>
			<string> Man Dancing: Medium Skin Tone</string>
			<key>emojiUniocode</key>
			<string>🕺🏽</string>
		</dict>
		<key>🕺🏾</key>
		<dict>
			<key>emojiName</key>
			<string> Man Dancing: Medium-Dark Skin Tone</string>
			<key>emojiUniocode</key>
			<string>🕺🏾</string>
		</dict>
		<key>🕺🏿</key>
		<dict>
			<key>emojiName</key>
			<string> Man Dancing: Dark Skin Tone</string>
			<key>emojiUniocode</key>
			<string>🕺🏿</string>
		</dict>
	</dict>
	<key>emojiName</key>
	<string> Man Dancing</string>
	<key>emojiUniocode</key>
	<string>🕺</string>
</dict>
</plist>
