<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryCharacter</key>
	<dict>
		<key>💪🏻</key>
		<dict>
			<key>emojiName</key>
			<string> Flexed Biceps: Light Skin Tone</string>
			<key>emojiUniocode</key>
			<string>💪🏻</string>
		</dict>
		<key>💪🏼</key>
		<dict>
			<key>emojiName</key>
			<string> Flexed Biceps: Medium-Light Skin Tone</string>
			<key>emojiUniocode</key>
			<string>💪🏼</string>
		</dict>
		<key>💪🏽</key>
		<dict>
			<key>emojiName</key>
			<string> Flexed Biceps: Medium Skin Tone</string>
			<key>emojiUniocode</key>
			<string>💪🏽</string>
		</dict>
		<key>💪🏾</key>
		<dict>
			<key>emojiName</key>
			<string> Flexed Biceps: Medium-Dark Skin Tone</string>
			<key>emojiUniocode</key>
			<string>💪🏾</string>
		</dict>
		<key>💪🏿</key>
		<dict>
			<key>emojiName</key>
			<string> Flexed Biceps: Dark Skin Tone</string>
			<key>emojiUniocode</key>
			<string>💪🏿</string>
		</dict>
	</dict>
	<key>emojiName</key>
	<string> Flexed Biceps</string>
	<key>emojiUniocode</key>
	<string>💪</string>
</dict>
</plist>
