<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryCharacter</key>
	<dict>
		<key>🖐🏻</key>
		<dict>
			<key>emojiName</key>
			<string> Raised Hand With Fingers Splayed, Type-1-2</string>
			<key>emojiNameFromHref</key>
			<string>raised-hand-with-fingers-splayed-type-1-2</string>
			<key>emojiUniocode</key>
			<string>🖐🏻</string>
		</dict>
		<key>🖐🏼</key>
		<dict>
			<key>emojiName</key>
			<string> Raised Hand With Fingers Splayed, Type-3</string>
			<key>emojiNameFromHref</key>
			<string>raised-hand-with-fingers-splayed-type-3</string>
			<key>emojiUniocode</key>
			<string>🖐🏼</string>
		</dict>
		<key>🖐🏽</key>
		<dict>
			<key>emojiName</key>
			<string> Raised Hand With Fingers Splayed, Type-4</string>
			<key>emojiNameFromHref</key>
			<string>raised-hand-with-fingers-splayed-type-4</string>
			<key>emojiUniocode</key>
			<string>🖐🏽</string>
		</dict>
		<key>🖐🏾</key>
		<dict>
			<key>emojiName</key>
			<string> Raised Hand With Fingers Splayed, Type-5</string>
			<key>emojiNameFromHref</key>
			<string>raised-hand-with-fingers-splayed-type-5</string>
			<key>emojiUniocode</key>
			<string>🖐🏾</string>
		</dict>
		<key>🖐🏿</key>
		<dict>
			<key>emojiName</key>
			<string> Raised Hand With Fingers Splayed, Type-6</string>
			<key>emojiNameFromHref</key>
			<string>raised-hand-with-fingers-splayed-type-6</string>
			<key>emojiUniocode</key>
			<string>🖐🏿</string>
		</dict>
	</dict>
	<key>emojiName</key>
	<string> Raised Hand With Fingers Splayed</string>
	<key>emojiNameFromHref</key>
	<string>raised-hand-with-fingers-splayed</string>
	<key>emojiUniocode</key>
	<string>🖐️</string>
</dict>
</plist>
