<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryCharacter</key>
	<dict>
		<key>🏄🏻‍♂️</key>
		<dict>
			<key>emojiName</key>
			<string> Man Surfing, Type-1-2</string>
			<key>emojiNameFromHref</key>
			<string>man-surfing-type-1-2</string>
			<key>emojiUniocode</key>
			<string>🏄🏻‍♂️</string>
		</dict>
		<key>🏄🏼‍♂️</key>
		<dict>
			<key>emojiName</key>
			<string> Man Surfing, Type-3</string>
			<key>emojiNameFromHref</key>
			<string>man-surfing-type-3</string>
			<key>emojiUniocode</key>
			<string>🏄🏼‍♂️</string>
		</dict>
		<key>🏄🏽‍♂️</key>
		<dict>
			<key>emojiName</key>
			<string> Man Surfing, Type-4</string>
			<key>emojiNameFromHref</key>
			<string>man-surfing-type-4</string>
			<key>emojiUniocode</key>
			<string>🏄🏽‍♂️</string>
		</dict>
		<key>🏄🏾‍♂️</key>
		<dict>
			<key>emojiName</key>
			<string> Man Surfing, Type-5</string>
			<key>emojiNameFromHref</key>
			<string>man-surfing-type-5</string>
			<key>emojiUniocode</key>
			<string>🏄🏾‍♂️</string>
		</dict>
		<key>🏄🏿‍♂️</key>
		<dict>
			<key>emojiName</key>
			<string> Man Surfing, Type-6</string>
			<key>emojiNameFromHref</key>
			<string>man-surfing-type-6</string>
			<key>emojiUniocode</key>
			<string>🏄🏿‍♂️</string>
		</dict>
	</dict>
	<key>emojiName</key>
	<string> Man Surfing</string>
	<key>emojiNameFromHref</key>
	<string>man-surfing</string>
	<key>emojiUniocode</key>
	<string>🏄‍♂️</string>
</dict>
</plist>
