<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emojiName</key>
	<string> Woman Gesturing Not OK, Type-3</string>
	<key>emojiNameFromHref</key>
	<string>woman-gesturing-not-ok-type-3</string>
	<key>emojiUniocode</key>
	<string>🙅🏼‍♀️</string>
</dict>
</plist>
