<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AA🕐</key>
	<array>
		<string>😂</string>
		<string>❤️</string>
		<string>😍</string>
		<string>♥️</string>
		<string>😭</string>
		<string>😊</string>
		<string>😒</string>
		<string>💕</string>
		<string>😘</string>
		<string>😩</string>
		<string>☺️</string>
		<string>♻️</string>
		<string>👌</string>
		<string>😔</string>
		<string>😏</string>
		<string>😁</string>
		<string>😉</string>
		<string>⬅️</string>
		<string>👍</string>
		<string>😌</string>
		<string>🙏</string>
		<string>🎶</string>
		<string>😢</string>
		<string>😳</string>
		<string>😎</string>
		<string>👀</string>
		<string>😅</string>
		<string>🙌</string>
		<string>🙈</string>
		<string>💔</string>
	</array>
	<key>A😀</key>
	<array>
		<string>😀</string>
		<string>😄</string>
		<string>😌</string>
		<string>😚</string>
		<string>🤓</string>
		<string>😐</string>
		<string>😳</string>
		<string>😬</string>
		<string>😅</string>
		<string>🙂</string>
		<string>😍</string>
		<string>😜</string>
		<string>😎</string>
		<string>😑</string>
		<string>😞</string>
		<string>😁</string>
		<string>😆</string>
		<string>🙃</string>
		<string>😘</string>
		<string>😝</string>
		<string>🤗</string>
		<string>😒</string>
		<string>😟</string>
		<string>😂</string>
		<string>😇</string>
		<string>☺️</string>
		<string>😗</string>
		<string>😛</string>
		<string>😏</string>
		<string>🙄</string>
		<string>😠</string>
		<string>😃</string>
		<string>😉</string>
		<string>😋</string>
		<string>😙</string>
		<string>🤑</string>
		<string>😶</string>
		<string>🤔</string>
		<string>😡</string>
		<string>😔</string>
		<string>😖</string>
		<string>😱</string>
		<string>😧</string>
		<string>😭</string>
		<string>🤒</string>
		<string>😈</string>
		<string>💀</string>
		<string>😕</string>
		<string>😫</string>
		<string>😨</string>
		<string>😢</string>
		<string>😵</string>
		<string>🤕</string>
		<string>👿</string>
		<string>☠️</string>
		<string>🙁</string>
		<string>😩</string>
		<string>😰</string>
		<string>😥</string>
		<string>😲</string>
		<string>😴</string>
		<string>👹</string>
		<string>👽</string>
		<string>☹️</string>
		<string>😤</string>
		<string>😯</string>
		<string>😪</string>
		<string>🤐</string>
		<string>💤</string>
		<string>👺</string>
		<string>👾</string>
		<string>😣</string>
		<string>😮</string>
		<string>😦</string>
		<string>😓</string>
		<string>😷</string>
		<string>💩</string>
		<string>👻</string>
		<string>🤖</string>
		<string>😺</string>
		<string>😽</string>
		<string>👏</string>
		<string>👋</string>
		<string>👌</string>
		<string>👐</string>
		<string>🖕</string>
		<string>👂</string>
		<string>😸</string>
		<string>🙀</string>
		<string>👍</string>
		<string>👈</string>
		<string>☝️</string>
		<string>💪</string>
		<string>✍️</string>
		<string>👃</string>
		<string>😹</string>
		<string>😿</string>
		<string>👎</string>
		<string>👉</string>
		<string>✌️</string>
		<string>🙏</string>
		<string>💅</string>
		<string>👁</string>
		<string>😻</string>
		<string>😾</string>
		<string>👊</string>
		<string>👆</string>
		<string>✋</string>
		<string>🖖</string>
		<string>👄</string>
		<string>👀</string>
		<string>😼</string>
		<string>🙌</string>
		<string>✊</string>
		<string>👇</string>
		<string>🖐</string>
		<string>🤘</string>
		<string>👅</string>
		<string>🗣</string>
		<string>👤</string>
		<string>👨</string>
		<string>👵</string>
		<string>👮</string>
		<string>🕵️‍♀️</string>
		<string>👼</string>
		<string>🙅</string>
		<string>🙋‍♂️</string>
		<string>👥</string>
		<string>👩</string>
		<string>👲</string>
		<string>👷‍♀️</string>
		<string>🕵🏻</string>
		<string>🙇‍♀️</string>
		<string>🙅‍♂️</string>
		<string>🙎</string>
		<string>👶</string>
		<string>👱‍♀️</string>
		<string>👳‍♀️</string>
		<string>👷</string>
		<string>🎅</string>
		<string>🙇</string>
		<string>🙆</string>
		<string>🙎‍♂️</string>
		<string>👦</string>
		<string>👱</string>
		<string>👳</string>
		<string>💂‍♀️</string>
		<string>👸</string>
		<string>💁</string>
		<string>🙆‍♂️</string>
		<string>🙍</string>
		<string>👧</string>
		<string>👴</string>
		<string>👮‍♀️</string>
		<string>💂</string>
		<string>👰</string>
		<string>💁‍♂️</string>
		<string>🙋</string>
		<string>🙍‍♂️</string>
		<string>💇</string>
		<string>👯</string>
		<string>🏃</string>
		<string>👩‍❤️‍👩</string>
		<string>👪</string>
		<string>👩‍👩‍👦</string>
		<string>👨‍👨‍👦</string>
		<string>👩‍👦</string>
		<string>💇‍♂️</string>
		<string>👯‍♂️</string>
		<string>👫</string>
		<string>👨‍❤️‍👨</string>
		<string>👨‍👩‍👧</string>
		<string>👩‍👩‍👧</string>
		<string>👨‍👨‍👧</string>
		<string>👩‍👧</string>
		<string>💆</string>
		<string>🚶‍♀️</string>
		<string>👭</string>
		<string>💏</string>
		<string>👨‍👩‍👧‍👦</string>
		<string>👩‍👩‍👧‍👦</string>
		<string>👨‍👨‍👧‍👦</string>
		<string>👩‍👧‍👦</string>
		<string>💆‍♂️</string>
		<string>🚶</string>
		<string>👬</string>
		<string>👩‍❤️‍💋‍👩</string>
		<string>👨‍👩‍👦‍👦</string>
		<string>👩‍👩‍👦‍👦</string>
		<string>👨‍👨‍👦‍👦</string>
		<string>👩‍👦‍👦</string>
		<string>💃</string>
		<string>🏃‍♀️</string>
		<string>💑</string>
		<string>👨‍❤️‍💋‍👨</string>
		<string>👨‍👩‍👧‍👧</string>
		<string>👩‍👩‍👧‍👧</string>
		<string>👨‍👨‍👧‍👧</string>
		<string>👩‍👧‍👧</string>
		<string>👨‍👦</string>
		<string>👚</string>
		<string>👙</string>
		<string>👠</string>
		<string>👒</string>
		<string>🎒</string>
		<string>👓</string>
		<string>👨‍👧</string>
		<string>👕</string>
		<string>👘</string>
		<string>👡</string>
		<string>🎩</string>
		<string>👝</string>
		<string>🕶</string>
		<string>👨‍👧‍👦</string>
		<string>👖</string>
		<string>💄</string>
		<string>👢</string>
		<string>🎓</string>
		<string>👛</string>
		<string>💍</string>
		<string>👨‍👦‍👦</string>
		<string>👔</string>
		<string>💋</string>
		<string>👞</string>
		<string>👑</string>
		<string>👜</string>
		<string>🌂</string>
		<string>👨‍👧‍👧</string>
		<string>👗</string>
		<string>👣</string>
		<string>👟</string>
		<string>⛑</string>
		<string>💼</string>
	</array>
	<key>B🐭</key>
	<array>
		<string>🐶</string>
		<string>🐻</string>
		<string>🐮</string>
		<string>🐵</string>
		<string>🐔</string>
		<string>🐥</string>
		<string>🐝</string>
		<string>🕷</string>
		<string>🐱</string>
		<string>🐼</string>
		<string>🐷</string>
		<string>🙈</string>
		<string>🐧</string>
		<string>🐺</string>
		<string>🐛</string>
		<string>🦂</string>
		<string>🐭</string>
		<string>🐨</string>
		<string>🐽</string>
		<string>🙉</string>
		<string>🐦</string>
		<string>🐗</string>
		<string>🐌</string>
		<string>🦀</string>
		<string>🐹</string>
		<string>🐯</string>
		<string>🐸</string>
		<string>🙊</string>
		<string>🐤</string>
		<string>🐴</string>
		<string>🐞</string>
		<string>🐍</string>
		<string>🐰</string>
		<string>🦁</string>
		<string>🐙</string>
		<string>🐒</string>
		<string>🐣</string>
		<string>🦄</string>
		<string>🐜</string>
		<string>🐢</string>
		<string>🐠</string>
		<string>🐋</string>
		<string>🐂</string>
		<string>🐐</string>
		<string>🐀</string>
		<string>🐕</string>
		<string>🐾</string>
		<string>🌲</string>
		<string>🐟</string>
		<string>🐊</string>
		<string>🐄</string>
		<string>🐏</string>
		<string>🐁</string>
		<string>🐩</string>
		<string>🐉</string>
		<string>🌳</string>
		<string>🐡</string>
		<string>🐆</string>
		<string>🐪</string>
		<string>🐑</string>
		<string>🐓</string>
		<string>🐈</string>
		<string>🐲</string>
		<string>🌴</string>
		<string>🐬</string>
		<string>🐅</string>
		<string>🐫</string>
		<string>🐎</string>
		<string>🦃</string>
		<string>🐇</string>
		<string>🌵</string>
		<string>🌱</string>
		<string>🐳</string>
		<string>🐃</string>
		<string>🐘</string>
		<string>🐖</string>
		<string>🕊</string>
		<string>🐿</string>
		<string>🎄</string>
		<string>🌿</string>
		<string>☘️</string>
		<string>🍂</string>
		<string>🌹</string>
		<string>🍄</string>
		<string>🌎</string>
		<string>🌗</string>
		<string>🌔</string>
		<string>🌞</string>
		<string>🍀</string>
		<string>🍁</string>
		<string>🌷</string>
		<string>🌰</string>
		<string>🌍</string>
		<string>🌘</string>
		<string>🌚</string>
		<string>🌙</string>
		<string>🎍</string>
		<string>🌾</string>
		<string>🌼</string>
		<string>🎃</string>
		<string>🌏</string>
		<string>🌑</string>
		<string>🌝</string>
		<string>⭐️</string>
		<string>🎋</string>
		<string>🌺</string>
		<string>🌸</string>
		<string>🐚</string>
		<string>🌕</string>
		<string>🌒</string>
		<string>🌛</string>
		<string>🌟</string>
		<string>🍃</string>
		<string>🌻</string>
		<string>💐</string>
		<string>🕸</string>
		<string>🌖</string>
		<string>🌓</string>
		<string>🌜</string>
		<string>💫</string>
		<string>✨</string>
		<string>🌥</string>
		<string>🌩</string>
		<string>🌨</string>
		<string>🌪</string>
		<string>💦</string>
		<string>☄️</string>
		<string>🌦</string>
		<string>⚡️</string>
		<string>☃️</string>
		<string>🌫</string>
		<string>🌊</string>
		<string>☀️</string>
		<string>☁️</string>
		<string>🔥</string>
		<string>⛄️</string>
		<string>☂️</string>
		<string>🌤</string>
		<string>🌧</string>
		<string>💥</string>
		<string>🌬</string>
		<string>☔️</string>
		<string>⛅️</string>
		<string>⛈</string>
		<string>❄️</string>
		<string>💨</string>
		<string>💧</string>
	</array>
	<key>C🍔</key>
	<array>
		<string>🍏</string>
		<string>🍌</string>
		<string>🍒</string>
		<string>🌶</string>
		<string>🧀</string>
		<string>🍔</string>
		<string>🌮</string>
		<string>🍣</string>
		<string>🍎</string>
		<string>🍉</string>
		<string>🍑</string>
		<string>🌽</string>
		<string>🍗</string>
		<string>🍟</string>
		<string>🌯</string>
		<string>🍱</string>
		<string>🍐</string>
		<string>🍇</string>
		<string>🍍</string>
		<string>🍠</string>
		<string>🍖</string>
		<string>🌭</string>
		<string>🍜</string>
		<string>🍛</string>
		<string>🍊</string>
		<string>🍓</string>
		<string>🍅</string>
		<string>🍯</string>
		<string>🍤</string>
		<string>🍕</string>
		<string>🍲</string>
		<string>🍙</string>
		<string>🍋</string>
		<string>🍈</string>
		<string>🍆</string>
		<string>🍞</string>
		<string>🍳</string>
		<string>🍝</string>
		<string>🍥</string>
		<string>🍚</string>
		<string>🍘</string>
		<string>🍦</string>
		<string>🍭</string>
		<string>🍺</string>
		<string>🍾</string>
		<string>🍴</string>
		<string>🍢</string>
		<string>🍰</string>
		<string>🍫</string>
		<string>🍻</string>
		<string>🍶</string>
		<string>🍽</string>
		<string>🍡</string>
		<string>🎂</string>
		<string>🍿</string>
		<string>🍷</string>
		<string>🍵</string>
		<string>🍧</string>
		<string>🍮</string>
		<string>🍩</string>
		<string>🍸</string>
		<string>☕️</string>
		<string>🍨</string>
		<string>🍬</string>
		<string>🍪</string>
		<string>🍹</string>
		<string>🍼</string>
	</array>
	<key>D⚽️</key>
	<array>
		<string>⚽️</string>
		<string>🏐</string>
		<string>🏒</string>
		<string>🎣</string>
		<string>🏋️‍♀️</string>
		<string>🏌</string>
		<string>🚣‍♀️</string>
		<string>🚵‍♀️</string>
		<string>🏀</string>
		<string>🏉</string>
		<string>🏑</string>
		<string>⛸</string>
		<string>🏋</string>
		<string>🏄‍♀️</string>
		<string>🚣</string>
		<string>🚵</string>
		<string>🏈</string>
		<string>🎱</string>
		<string>🏏</string>
		<string>🎿</string>
		<string>⛹️‍♀️</string>
		<string>🏄</string>
		<string>🏇</string>
		<string>🛀</string>
		<string>⚾️</string>
		<string>🏓</string>
		<string>🏹</string>
		<string>⛷</string>
		<string>⛹</string>
		<string>🏊‍♀️</string>
		<string>🚴‍♀️</string>
		<string>🕴</string>
		<string>🎾</string>
		<string>🏸</string>
		<string>⛳️</string>
		<string>🏂</string>
		<string>🏌️‍♀️</string>
		<string>🏊</string>
		<string>🚴</string>
		<string>🎗</string>
		<string>🎽</string>
		<string>🎯</string>
		<string>🎪</string>
		<string>🎹</string>
		<string>🎮</string>
		<string>🏅</string>
		<string>🎫</string>
		<string>🎬</string>
		<string>🎷</string>
		<string>🎰</string>
		<string>🎖</string>
		<string>🎟</string>
		<string>🎤</string>
		<string>🎺</string>
		<string>🎲</string>
		<string>🏆</string>
		<string>🎭</string>
		<string>🎧</string>
		<string>🎸</string>
		<string>🎳</string>
		<string>🏵</string>
		<string>🎨</string>
		<string>🎼</string>
		<string>🎻</string>
	</array>
	<key>E🚗</key>
	<array>
		<string>🚗</string>
		<string>🏎</string>
		<string>🚚</string>
		<string>🚨</string>
		<string>🚡</string>
		<string>🚝</string>
		<string>🚂</string>
		<string>🚁</string>
		<string>🚕</string>
		<string>🚓</string>
		<string>🚛</string>
		<string>🚔</string>
		<string>🚠</string>
		<string>🚄</string>
		<string>🚆</string>
		<string>🛩</string>
		<string>🚙</string>
		<string>🚑</string>
		<string>🚜</string>
		<string>🚍</string>
		<string>🚟</string>
		<string>🚅</string>
		<string>🚇</string>
		<string>✈️</string>
		<string>🚌</string>
		<string>🚒</string>
		<string>🏍</string>
		<string>🚘</string>
		<string>🚃</string>
		<string>🚈</string>
		<string>🚊</string>
		<string>🛫</string>
		<string>🚎</string>
		<string>🚐</string>
		<string>🚲</string>
		<string>🚖</string>
		<string>🚋</string>
		<string>🚞</string>
		<string>🚉</string>
		<string>🛬</string>
		<string>⛵️</string>
		<string>🚀</string>
		<string>⛽️</string>
		<string>🚢</string>
		<string>🌁</string>
		<string>⛰</string>
		<string>🏕</string>
		<string>🌅</string>
		<string>🛥</string>
		<string>🛰</string>
		<string>🚏</string>
		<string>🎡</string>
		<string>🗼</string>
		<string>🏔</string>
		<string>⛺️</string>
		<string>🌄</string>
		<string>🚤</string>
		<string>💺</string>
		<string>🚦</string>
		<string>🎢</string>
		<string>🏭</string>
		<string>🗻</string>
		<string>🏞</string>
		<string>🏜</string>
		<string>⛴</string>
		<string>⚓️</string>
		<string>🚥</string>
		<string>🎠</string>
		<string>⛲️</string>
		<string>🌋</string>
		<string>🛣</string>
		<string>🏖</string>
		<string>🛳</string>
		<string>🚧</string>
		<string>🗺</string>
		<string>🏗</string>
		<string>🎑</string>
		<string>🗾</string>
		<string>🛤</string>
		<string>🏝</string>
		<string>🌇</string>
		<string>🌌</string>
		<string>🏘</string>
		<string>🏠</string>
		<string>🏣</string>
		<string>🏪</string>
		<string>⛪️</string>
		<string>🌆</string>
		<string>🌠</string>
		<string>🏰</string>
		<string>🏡</string>
		<string>🏤</string>
		<string>🏫</string>
		<string>🕌</string>
		<string>🏙</string>
		<string>🎇</string>
		<string>🏯</string>
		<string>🏚</string>
		<string>🏥</string>
		<string>🏩</string>
		<string>🕍</string>
		<string>🌃</string>
		<string>🎆</string>
		<string>🏟</string>
		<string>🏢</string>
		<string>🏦</string>
		<string>💒</string>
		<string>🕋</string>
		<string>🌉</string>
		<string>🌈</string>
		<string>🗽</string>
		<string>🏬</string>
		<string>🏨</string>
		<string>🏛</string>
		<string>⛩</string>
	</array>
	<key>F💡</key>
	<array>
		<string>⌚️</string>
		<string>🖥</string>
		<string>🗜</string>
		<string>📼</string>
		<string>📽</string>
		<string>📠</string>
		<string>🎛</string>
		<string>⏳</string>
		<string>📱</string>
		<string>🖨</string>
		<string>💽</string>
		<string>📷</string>
		<string>🎞</string>
		<string>📺</string>
		<string>⏱</string>
		<string>⌛️</string>
		<string>📲</string>
		<string>🖱</string>
		<string>💾</string>
		<string>📸</string>
		<string>📞</string>
		<string>📻</string>
		<string>⏲</string>
		<string>📡</string>
		<string>💻</string>
		<string>🖲</string>
		<string>💿</string>
		<string>📹</string>
		<string>☎️</string>
		<string>🎙</string>
		<string>⏰</string>
		<string>🔋</string>
		<string>⌨️</string>
		<string>🕹</string>
		<string>📀</string>
		<string>🎥</string>
		<string>📟</string>
		<string>🎚</string>
		<string>🕰</string>
		<string>🔌</string>
		<string>💡</string>
		<string>💸</string>
		<string>💰</string>
		<string>🔨</string>
		<string>⚙️</string>
		<string>🗡</string>
		<string>⚱️</string>
		<string>⚗️</string>
		<string>🔦</string>
		<string>💵</string>
		<string>💳</string>
		<string>⚒</string>
		<string>⛓</string>
		<string>⚔️</string>
		<string>🏺</string>
		<string>🔭</string>
		<string>🕯</string>
		<string>💴</string>
		<string>💎</string>
		<string>🛠</string>
		<string>🔫</string>
		<string>🛡</string>
		<string>🔮</string>
		<string>🔬</string>
		<string>🗑</string>
		<string>💶</string>
		<string>⚖️</string>
		<string>⛏</string>
		<string>💣</string>
		<string>🚬</string>
		<string>📿</string>
		<string>🕳</string>
		<string>🛢</string>
		<string>💷</string>
		<string>🔧</string>
		<string>🔩</string>
		<string>🔪</string>
		<string>⚰️</string>
		<string>💈</string>
		<string>💊</string>
		<string>💉</string>
		<string>🛎</string>
		<string>🛌</string>
		<string>🛍</string>
		<string>🎊</string>
		<string>✉️</string>
		<string>📥</string>
		<string>📪</string>
		<string>🌡</string>
		<string>🔑</string>
		<string>🛏</string>
		<string>🎁</string>
		<string>🎉</string>
		<string>📩</string>
		<string>📤</string>
		<string>📫</string>
		<string>🚽</string>
		<string>🗝</string>
		<string>🖼</string>
		<string>🎈</string>
		<string>🎐</string>
		<string>📨</string>
		<string>📦</string>
		<string>📬</string>
		<string>🚿</string>
		<string>🚪</string>
		<string>⛱</string>
		<string>🎏</string>
		<string>🏮</string>
		<string>📧</string>
		<string>🏷</string>
		<string>📭</string>
		<string>🛁</string>
		<string>🛋</string>
		<string>🗿</string>
		<string>🎀</string>
		<string>🎎</string>
		<string>💌</string>
		<string>🔖</string>
		<string>📮</string>
		<string>📯</string>
		<string>📊</string>
		<string>📆</string>
		<string>🗄</string>
		<string>🗞</string>
		<string>📕</string>
		<string>📖</string>
		<string>📏</string>
		<string>📜</string>
		<string>📈</string>
		<string>📅</string>
		<string>📋</string>
		<string>📰</string>
		<string>📗</string>
		<string>🔗</string>
		<string>✂️</string>
		<string>📃</string>
		<string>📉</string>
		<string>📇</string>
		<string>📁</string>
		<string>📓</string>
		<string>📘</string>
		<string>📎</string>
		<string>📌</string>
		<string>📄</string>
		<string>🗒</string>
		<string>🗃</string>
		<string>📂</string>
		<string>📔</string>
		<string>📙</string>
		<string>🖇</string>
		<string>📍</string>
		<string>📑</string>
		<string>🗓</string>
		<string>🗳</string>
		<string>🗂</string>
		<string>📒</string>
		<string>📚</string>
		<string>📐</string>
		<string>🚩</string>
		<string>🎌</string>
		<string>🖌</string>
		<string>📝</string>
		<string>🔓</string>
		<string>🏳</string>
		<string>🖍</string>
		<string>✏️</string>
		<string>🔍</string>
		<string>🏴</string>
		<string>🖊</string>
		<string>🔏</string>
		<string>🔎</string>
		<string>🏁</string>
		<string>🖋</string>
		<string>🔐</string>
		<string>🏳️‍🌈</string>
		<string>✒️</string>
		<string>🔒</string>
	</array>
	<key>G❤️</key>
	<array>
		<string>❤️</string>
		<string>💛</string>
		<string>💚</string>
		<string>💙</string>
		<string>💜</string>
		<string>💔</string>
		<string>❣️</string>
		<string>💕</string>
		<string>💞</string>
		<string>💓</string>
		<string>💗</string>
		<string>💖</string>
		<string>💘</string>
		<string>💝</string>
		<string>💟</string>
		<string>☮️</string>
		<string>✝️</string>
		<string>☪️</string>
		<string>🕉</string>
		<string>☸️</string>
		<string>✡️</string>
		<string>🔯</string>
		<string>🕎</string>
		<string>☯️</string>
		<string>☦️</string>
		<string>🛐</string>
		<string>⛎</string>
		<string>♈️</string>
		<string>♉️</string>
		<string>♊️</string>
		<string>♋️</string>
		<string>♌️</string>
		<string>♍️</string>
		<string>♎️</string>
		<string>♏️</string>
		<string>♐️</string>
		<string>♑️</string>
		<string>♒️</string>
		<string>♓️</string>
		<string>🆔</string>
		<string>⚛️</string>
		<string>🈳</string>
		<string>🈹</string>
		<string>☢️</string>
		<string>☣️</string>
		<string>📴</string>
		<string>📳</string>
		<string>🈶</string>
		<string>🈚️</string>
		<string>🈸</string>
		<string>🈺</string>
		<string>🈷</string>
		<string>✴️</string>
		<string>🆚</string>
		<string>🉑</string>
		<string>💮</string>
		<string>🉐</string>
		<string>㊙️</string>
		<string>㊗️</string>
		<string>🈴</string>
		<string>🈵</string>
		<string>🈲</string>
		<string>🅰️</string>
		<string>🅱️</string>
		<string>🆎</string>
		<string>🆑</string>
		<string>🅾️</string>
		<string>🆘</string>
		<string>⛔️</string>
		<string>📛</string>
		<string>🚫</string>
		<string>❌</string>
		<string>⭕️</string>
		<string>💢</string>
		<string>♨️</string>
		<string>🚷</string>
		<string>🚯</string>
		<string>🚳</string>
		<string>🚱</string>
		<string>🔞</string>
		<string>📵</string>
		<string>❗️</string>
		<string>❕</string>
		<string>❓</string>
		<string>❔</string>
		<string>‼️</string>
		<string>⁉️</string>
		<string>💯</string>
		<string>🔅</string>
		<string>🔆</string>
		<string>🔱</string>
		<string>⚜️</string>
		<string>〽️</string>
		<string>⚠️</string>
		<string>🚸</string>
		<string>🔰</string>
		<string>♻️</string>
		<string>🈯️</string>
		<string>💹</string>
		<string>❇️</string>
		<string>✳️</string>
		<string>❎</string>
		<string>✅</string>
		<string>🌐</string>
		<string>Ⓜ️</string>
		<string>💠</string>
		<string>🌀</string>
		<string>➿</string>
		<string>🏧</string>
		<string>🈂</string>
		<string>🛂</string>
		<string>🛃</string>
		<string>🛄</string>
		<string>🛅</string>
		<string>♿️</string>
		<string>🚭</string>
		<string>🚾</string>
		<string>🅿️</string>
		<string>🚰</string>
		<string>🚹</string>
		<string>🚺</string>
		<string>🚼</string>
		<string>🚻</string>
		<string>🚮</string>
		<string>🎦</string>
		<string>📶</string>
		<string>🈁</string>
		<string>🔤</string>
		<string>🔡</string>
		<string>🔠</string>
		<string>🔣</string>
		<string>ℹ️</string>
		<string>🆖</string>
		<string>🆗</string>
		<string>🆙</string>
		<string>🆒</string>
		<string>🆕</string>
		<string>🆓</string>
		<string>0️⃣</string>
		<string>1️⃣</string>
		<string>2️⃣</string>
		<string>3️⃣</string>
		<string>4️⃣</string>
		<string>5️⃣</string>
		<string>6️⃣</string>
		<string>7️⃣</string>
		<string>8️⃣</string>
		<string>9️⃣</string>
		<string>🔟</string>
		<string>🔢</string>
		<string>#️⃣</string>
		<string>*️⃣</string>
		<string>▶️</string>
		<string>⏸</string>
		<string>⏯</string>
		<string>⏹</string>
		<string>⏺</string>
		<string>⏭</string>
		<string>⏮</string>
		<string>⏩</string>
		<string>⏪</string>
		<string>⏫</string>
		<string>⏬</string>
		<string>◀️</string>
		<string>🔼</string>
		<string>🔽</string>
		<string>➡️</string>
		<string>⬅️</string>
		<string>⬆️</string>
		<string>⬇️</string>
		<string>↗️</string>
		<string>↘️</string>
		<string>↙️</string>
		<string>↖️</string>
		<string>↕️</string>
		<string>↔️</string>
		<string>↪️</string>
		<string>↩️</string>
		<string>⤴️</string>
		<string>⤵️</string>
		<string>🔀</string>
		<string>🔁</string>
		<string>🔂</string>
		<string>🔄</string>
		<string>🔃</string>
		<string>🎵</string>
		<string>🎶</string>
		<string>〰</string>
		<string>➰</string>
		<string>✔️</string>
		<string>➕</string>
		<string>➖</string>
		<string>➗</string>
		<string>✖️</string>
		<string>💲</string>
		<string>💱</string>
		<string>™</string>
		<string>©</string>
		<string>®</string>
		<string>🔚</string>
		<string>🔙</string>
		<string>🔛</string>
		<string>🔝</string>
		<string>🔜</string>
		<string>☑️</string>
		<string>🔘</string>
		<string>⚪️</string>
		<string>⚫️</string>
		<string>🔴</string>
		<string>🔵</string>
		<string>🔺</string>
		<string>🔻</string>
		<string>🔸</string>
		<string>🔹</string>
		<string>🔶</string>
		<string>🔷</string>
		<string>🔳</string>
		<string>🔲</string>
		<string>▪️</string>
		<string>▫️</string>
		<string>◾️</string>
		<string>◽️</string>
		<string>◼️</string>
		<string>◻️</string>
		<string>⬛️</string>
		<string>⬜️</string>
		<string>🔇</string>
		<string>🔈</string>
		<string>🔉</string>
		<string>🔊</string>
		<string>🔕</string>
		<string>🔔</string>
		<string>📣</string>
		<string>📢</string>
		<string>👁‍🗨</string>
		<string>💬</string>
		<string>💭</string>
		<string>🗯</string>
		<string>🃏</string>
		<string>🀄️</string>
		<string>🎴</string>
		<string>♠️</string>
		<string>♣️</string>
		<string>♥️</string>
		<string>♦️</string>
		<string>🕐</string>
		<string>🕑</string>
		<string>🕒</string>
		<string>🕓</string>
		<string>🕔</string>
		<string>🕕</string>
		<string>🕖</string>
		<string>🕗</string>
		<string>🕘</string>
		<string>🕙</string>
		<string>🕚</string>
		<string>🕛</string>
		<string>🕜</string>
		<string>🕝</string>
		<string>🕞</string>
		<string>🕟</string>
		<string>🕠</string>
		<string>🕡</string>
		<string>🕢</string>
		<string>🕣</string>
		<string>🕤</string>
		<string>🕥</string>
		<string>🕦</string>
		<string>🕧</string>
	</array>
	<key>H🏳</key>
	<array>
		<string>🇦🇫</string>
		<string>🇦🇩</string>
		<string>🇸🇦</string>
		<string>🇦🇹</string>
		<string>🇧🇧</string>
		<string>🇧🇹</string>
		<string>🇧🇷</string>
		<string>🇰🇭</string>
		<string>🇿🇦</string>
		<string>🇦🇴</string>
		<string>🇦🇷</string>
		<string>🇦🇿</string>
		<string>🇧🇪</string>
		<string>🇧🇾</string>
		<string>🇧🇳</string>
		<string>🇨🇲</string>
		<string>🇦🇱</string>
		<string>🇦🇮</string>
		<string>🇦🇲</string>
		<string>🇧🇸</string>
		<string>🇧🇿</string>
		<string>🇧🇴</string>
		<string>🇧🇬</string>
		<string>🇨🇦</string>
		<string>🇩🇿</string>
		<string>🇦🇶</string>
		<string>🇦🇼</string>
		<string>🇧🇭</string>
		<string>🇧🇯</string>
		<string>🇧🇦</string>
		<string>🇧🇫</string>
		<string>🇨🇻</string>
		<string>🇩🇪</string>
		<string>🇦🇬</string>
		<string>🇦🇺</string>
		<string>🇧🇩</string>
		<string>🇧🇲</string>
		<string>🇧🇼</string>
		<string>🇧🇮</string>
		<string>🇨🇱</string>
		<string>🇨🇳</string>
		<string>🇨🇩</string>
		<string>🇭🇷</string>
		<string>🇩🇲</string>
		<string>🇪🇷</string>
		<string>🇺🇸</string>
		<string>🇬🇦</string>
		<string>🇬🇮</string>
		<string>🇨🇾</string>
		<string>🇰🇵</string>
		<string>🇨🇺</string>
		<string>🇪🇬</string>
		<string>🇪🇸</string>
		<string>🇪🇹</string>
		<string>🇬🇲</string>
		<string>🇬🇷</string>
		<string>🇨🇴</string>
		<string>🇰🇷</string>
		<string>🇨🇼</string>
		<string>🇸🇻</string>
		<string>🇪🇪</string>
		<string>🇫🇯</string>
		<string>🇬🇪</string>
		<string>🇬🇩</string>
		<string>🇰🇲</string>
		<string>🇨🇷</string>
		<string>🇩🇰</string>
		<string>🇦🇪</string>
		<string>🇻🇦</string>
		<string>🇫🇮</string>
		<string>🇬🇸</string>
		<string>🇬🇱</string>
		<string>🇨🇬</string>
		<string>🇨🇮</string>
		<string>🇩🇯</string>
		<string>🇪🇨</string>
		<string>🇫🇲</string>
		<string>🇫🇷</string>
		<string>🇬🇭</string>
		<string>🇬🇵</string>
		<string>🇬🇺</string>
		<string>🇬🇼</string>
		<string>🇭🇺</string>
		<string>🇰🇾</string>
		<string>🇫🇰</string>
		<string>🇹🇨</string>
		<string>🇮🇶</string>
		<string>🇮🇹</string>
		<string>🇬🇹</string>
		<string>🇬🇾</string>
		<string>🇨🇽</string>
		<string>🇮🇨</string>
		<string>🇲🇵</string>
		<string>🇻🇬</string>
		<string>🇮🇷</string>
		<string>🇯🇲</string>
		<string>🇬🇬</string>
		<string>🇬🇫</string>
		<string>🇮🇲</string>
		<string>🇨🇨</string>
		<string>🇲🇭</string>
		<string>🇻🇮</string>
		<string>🇮🇪</string>
		<string>🇯🇵</string>
		<string>🇬🇳</string>
		<string>🇭🇹</string>
		<string>🇳🇫</string>
		<string>🇨🇰</string>
		<string>🇵🇳</string>
		<string>🇮🇳</string>
		<string>🇮🇸</string>
		<string>🇯🇪</string>
		<string>🇬🇶</string>
		<string>🇭🇳</string>
		<string>🇦🇽</string>
		<string>🇫🇴</string>
		<string>🇸🇧</string>
		<string>🇮🇩</string>
		<string>🇮🇱</string>
		<string>🇯🇴</string>
		<string>🇰🇿</string>
		<string>🇰🇼</string>
		<string>🇱🇧</string>
		<string>🇱🇺</string>
		<string>🇲🇻</string>
		<string>🇲🇺</string>
		<string>🇲🇨</string>
		<string>🇲🇲</string>
		<string>🇰🇪</string>
		<string>🇷🇪</string>
		<string>🇱🇷</string>
		<string>🇲🇰</string>
		<string>🇲🇱</string>
		<string>🇲🇷</string>
		<string>🇲🇳</string>
		<string>🇳🇦</string>
		<string>🇰🇬</string>
		<string>🇱🇦</string>
		<string>🇱🇾</string>
		<string>🇲🇬</string>
		<string>🇲🇹</string>
		<string>🇾🇹</string>
		<string>🇲🇪</string>
		<string>🇳🇷</string>
		<string>🇰🇮</string>
		<string>🇱🇸</string>
		<string>🇱🇮</string>
		<string>🇲🇾</string>
		<string>🇲🇦</string>
		<string>🇲🇽</string>
		<string>🇲🇸</string>
		<string>🇳🇵</string>
		<string>🇽🇰</string>
		<string>🇱🇻</string>
		<string>🇱🇹</string>
		<string>🇲🇼</string>
		<string>🇲🇶</string>
		<string>🇲🇩</string>
		<string>🇲🇿</string>
		<string>🇳🇮</string>
		<string>🇳🇪</string>
		<string>🇳🇿</string>
		<string>🇵🇼</string>
		<string>🇧🇶</string>
		<string>🇵🇷</string>
		<string>🇨🇫</string>
		<string>🇷🇺</string>
		<string>🇸🇲</string>
		<string>🇳🇬</string>
		<string>🇴🇲</string>
		<string>🇵🇦</string>
		<string>🇵🇪</string>
		<string>🇵🇹</string>
		<string>🇩🇴</string>
		<string>🇷🇼</string>
		<string>🇸🇽</string>
		<string>🇳🇺</string>
		<string>🇺🇬</string>
		<string>🇵🇬</string>
		<string>🇵🇭</string>
		<string>🇶🇦</string>
		<string>🇨🇿</string>
		<string>🇪🇭</string>
		<string>🇵🇲</string>
		<string>🇳🇴</string>
		<string>🇺🇿</string>
		<string>🇵🇾</string>
		<string>🇵🇱</string>
		<string>🇭🇰</string>
		<string>🇷🇴</string>
		<string>🇧🇱</string>
		<string>🇻🇨</string>
		<string>🇳🇨</string>
		<string>🇵🇰</string>
		<string>🇳🇱</string>
		<string>🇵🇫</string>
		<string>🇲🇴</string>
		<string>🇬🇧</string>
		<string>🇰🇳</string>
		<string>🇸🇭</string>
		<string>🇱🇨</string>
		<string>🇷🇸</string>
		<string>🇸🇮</string>
		<string>🇸🇪</string>
		<string>🇹🇯</string>
		<string>🇮🇴</string>
		<string>🇹🇰</string>
		<string>🇹🇷</string>
		<string>🇼🇸</string>
		<string>🇸🇨</string>
		<string>🇸🇴</string>
		<string>🇨🇭</string>
		<string>🇹🇼</string>
		<string>🇵🇸</string>
		<string>🇹🇴</string>
		<string>🇹🇻</string>
		<string>🇦🇸</string>
		<string>🇸🇱</string>
		<string>🇸🇩</string>
		<string>🇸🇷</string>
		<string>🇹🇿</string>
		<string>🇹🇭</string>
		<string>🇹🇹</string>
		<string>🇺🇦</string>
		<string>🇸🇹</string>
		<string>🇸🇬</string>
		<string>🇸🇸</string>
		<string>🇸🇿</string>
		<string>🇹🇩</string>
		<string>🇹🇱</string>
		<string>🇹🇳</string>
		<string>🇹🇳</string>
		<string>🇪🇺</string>
		<string>🇸🇳</string>
		<string>🇸🇰</string>
		<string>🇱🇰</string>
		<string>🇸🇾</string>
		<string>🇹🇫</string>
		<string>🇹🇬</string>
		<string>🇹🇲</string>
		<string>🇺🇾</string>
		<string>🇻🇺</string>
		<string>🇿🇲</string>
		<string>🇻🇪</string>
		<string>🇿🇼</string>
		<string>🇻🇳</string>
		<string>🇼🇫</string>
		<string>🇾🇪</string>
	</array>
</dict>
</plist>
