<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMExtensionIMessageStickers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RMExtensionKeyboard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RMExtensionsFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RMKeyBoard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523984701CBFD002007F7730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5239848E1CBFD031007F7730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523984A01CBFD0D3007F7730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82A8F4071D89A391009045A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
